:root {
    background: #fff;
    font-size: 16px;
}

body {
    margin: 0;
}

.header {
    background: #dadada;
    padding: .5rem;
    min-height: 2rem;
    padding-left: max(5%, 50% - 600px);
    padding-right: max(5%, 50% - 600px);
    display: inline-flex;
    flex-flow: row;
    width: min(1200px, 90%);
    align-items: center;
    position: sticky;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-header {
    color: #1a1a1a;
    margin-bottom: .3rem;
}

.header-btn-box {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.btn-header {
    color: #fff;
    background: #999;
    border: #fff 1px solid;
    padding: .5rem;
    min-height: 2rem;
    font-size: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    cursor: pointer;
    transition: all ease .2s;
    border-radius: .3rem;
    position: relative;
}

.btn-header:hover {
    background: #888;
}

.btn-header:active {
    background: #666;
}

.notify-num {
    background: #f32;
    color: #fff;
    line-height: 1rem;
    font-size: .7rem;
    position: absolute;
    min-width: 1rem;
    min-height: 1rem;
    border-radius: 1rem;
    border: #fff 1px solid;
    right: -.3rem;
    top: -.5rem;
    box-shadow: #666 2px 2px 2px;
}

.downlist-cover {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0007;
    transition: all ease .5s;
}

.downlist-window {
    width: min(80%, 800px);
    height: 70%;
    background: #fff;
    position: fixed;
    top: 15%;
    left: max(10%, 50% - 400px);
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    -moz-user-select: none;
    user-select: none;
    flex-direction: column;
    transition: all ease .5s;
}

.window-titlebar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: .5rem;
    margin-bottom: .6rem;
}

.close-btn {
    width: 2.1rem;
    height: 2.1rem;
    cursor: pointer;
    text-align: center;
    line-height: 2.1rem;
    font-size: 2rem;
    border-radius: .3rem;
    transition: all ease .2s;
}

.close-btn:hover {
    background: #eee;
}

.close-btn:active {
    background: #ccc;
}

.window-box {
    border: #aaa 1px solid;
    border-radius: .3rem;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list-item {
    border-bottom: #aaa 1px solid;
    min-height: 3rem;
    transition: all ease .2s;
    padding: .4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.list-item:hover {
    background: #eee;
}

.down-filename {
    width: 100%;
    color: #333;
    font-size: 1rem;
    word-break: break-all;
}

.down-filepath {
    color: #999;
    width: 100%;
    font-size: .5rem;
    word-break: break-all;
}

.progress-bar-container {
    background: #ccc;
    height: .7rem;
    border-radius: 1rem;
    flex-grow: 1;
    margin: .4rem;
}

.progress-bar-downloading {
    height: 100%;
    border-radius: 1rem;
    background: #7ce;
    transition: all ease .25s;
}

.progress-bar-failed {
    height: 100%;
    border-radius: 1rem;
    width: 100%;
    background: #e04;
    transition: all ease .25s;
}

.progress-bar-success {
    height: 100%;
    border-radius: 1rem;
    width: 100%;
    background: #3e8;
    transition: all ease .25s;
}

.percentage {
    color: #777;
    font-size: .8rem;
}

.cancel-btn {
    background: #999;
    color: #fff;
    width: .9rem;
    height: .9rem;
    cursor: pointer;
    font-size: .9rem;
    text-align: center;
    line-height: .9rem;
    border-radius: 1rem;
    font-weight: bolder;
    transition: all ease .2s;
}

.cancel-btn:active {
    background: #ccc;
}

.cancel-btn-disabled {
    background: #999;
    color: #fff;
    width: .9rem;
    height: .9rem;
    cursor: not-allowed;
    font-size: .9rem;
    text-align: center;
    line-height: .9rem;
    border-radius: 1rem;
    font-weight: bolder;
    transition: all ease .2s;
}

.content {
    padding-left: max(5%, 50% - 600px);
    padding-right: max(5%, 50% - 600px);
    width: min(1200px, 90%);
}

.item {
    margin-top: .7rem;
    margin-bottom: .7rem;
    min-height: 4rem;
    padding: 1rem;
    border: 1px #eee solid;
    border-radius: .7rem;
    background: #fff;
    transition: all ease .2s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}

.item:hover {
    background: #eee;
}

.item:has(.select-vid:checked) {
    background: #ddd;
    box-shadow: 0 0 0 3px #eee;
}

.conf-panel {
    display: flex;
    line-height: 1.4rem;
    align-items: center;
    justify-content: flex-start;
}

.down-path::before {
    content: "Download path: ";
    display: block;
    margin: 0;
    padding: 0;
}

.check-big {
    position: relative;
    height: 1rem;
    width: 1rem;
    background: #06c;
    cursor: pointer;
    transition: all ease .2s;
    line-height: 1.4rem;
}

.btn {
    color: #111;
    background: #fff;
    border: #9ee 2px solid;
    padding: .5rem;
    cursor: pointer;
    transition: all ease .2s;
    border-radius: .3rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
    font-size: 1rem;
    line-height: 1.2rem;
}

.btn:hover {
    background: #eee;
}

.btn:active {
    color: #444;
    background: #ccc;
}

.delay-int {
    border: 2px solid #3aa;
    border-radius: .3rem;
    padding: 2px;
    font-size: 1rem;
    line-height: 1.2rem;
    width: 5rem;
    margin: .5rem;
}

.select-vid {
    position: absolute;
    top: -.5rem;
    left: -.8rem;
    height: 1rem;
    width: 1rem;
    background: #06c;
    cursor: pointer;
    transition: all ease .2s;
}

.select-vid:checked,
.check-big:checked {
    box-shadow: 0 0 4px #06c;
}

.select-vid::after,
.check-big::after {
    position: absolute;
    top: 0;
    background-color: #fff0;
    color: #fff;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    visibility: visible;
    padding-left: 0px;
    text-align: center;
    content: ' ';
    box-sizing: border-box;
    border-radius: .2rem;
    transition: all ease .2s;
}

.select-vid:checked::after,
.check-big:checked::after {
    background-color: #29f;
}

.select-vid:checked:checked::before,
.check-big:checked::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    z-index: 1;
}

@media screen and (min-width: 721px) {
    .vid-container {
        width: 60%;
        margin-right: .7rem;
        padding-top: 33.75%;
        position: relative;
    }
}

@media screen and (max-width: 720px) {
    .vid-container {
        width: 100%;
        padding-top: 56.25%;
        margin-bottom: .7rem;
        position: relative;
    }
}

.vid-container>* {
    position: absolute!important;
    width: 100%;
    height: 100%;
    top: 0;
}

.item-opt {
    padding: .5rem;
    border: #ddd 2px solid;
    border-radius: .3rem;
    flex-grow: 1;
}

.filename::before {
    content: "File name: ";
    margin: 0;
    padding: 0;
}

.fileext::before {
    content: "File extension: ";
    margin: 0;
    padding: 0;
}

.input-filename,
.select-fileext,
#path {
    border: 2px solid #3aa;
    border-radius: .3rem;
    padding: 2px;
    margin-top: .3rem;
    margin-bottom: .3rem;
    font-size: 1rem;
    line-height: 1.2rem;
}

.input-filename,
#path {
    width: calc(100% - 6px);
}

.select-fileext,
.btn {
    width: 100%;
}